{{define "nav"}}
<div class="flex space-x-4">
    {{if .IsAuthenticated}}
    <a href="/installations" class="sm:w-auto px-2 py-2 {{if eq .ActiveMenu "installations"}}text-indigo-700{{else}}text-slate-500{{end}} font-semibold hover:text-indigo-700">
        Instalações
    </a>
    <a href="/events" class="sm:w-auto px-2 py-2 {{if eq .ActiveMenu "events"}}text-indigo-700{{else}}text-slate-500{{end}} font-semibold hover:text-indigo-700">
        Eventos
    </a>
    <a href="/export" class="sm:w-auto px-2 py-2 {{if eq .ActiveMenu "export"}}text-indigo-700{{else}}text-slate-500{{end}} font-semibold hover:text-indigo-700">
        Exportar
    </a>
    {{end}}
</div>
{{end}}